include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    
    .wrapper
      .welcome-section
        section.hero
          .container.hero__container
            header.header.hero__header
              .hero__logo
                .logo AM  
              .hero__nav
                - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
              .hero__links
                - var icons = ["insta", "vk", "github"];
                ul.socials
                  each item in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="").socials__link
                        +icon(`${item}`, 'socials__icon')
            .hero__content
              .user-info
                h1.user-info__desc 
                  |Личный сайт 
                  br
                  | веб-разработчика
                .user-info__username 
                  |Анастасия
                  br
                  |Молодых
            .hero__btns
              .scroll-down-btns Скролл
              .scroll-down-icon
                +icon("scroll", 'scroll__icon')
    
        section.about
          .container
            .about__container
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image("content/user.jpg", "avatar__image", "user pic")
                  .user__table
                    .user-data__desc
                      - var data = ["Проживаю:", "Возраст:", "Родилась:"];
                      ul.user-data__list
                        each item in data
                          li.user-data__item #{item}
                    .user-data__answ
                      - var data = ["г. Москва", "42 года", "30 января"];
                      ul.user-data__list
                        each item in data
                          li.user-data__item #{item}
                    

              .about__right
                .about__welcome-text Привет, меня зовут
                h2.about__username Анастасия Молодых
                .about__desc 
                  |Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  |Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      section.values
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="1000,0 1000,100 0,100")
        .container
          .values__wrapper
            +image("content/backpack.png", "value__img", "backpack pic")
            .values__title
              .values__title-text Чем я могу быть полезна вам
              .values__title-subtext
                |Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values__content
              -
                var items = [
                  ["Front-end", ["Html5", "CSS3", "JavaScript", "jQuery"]],
                  ["Workflow", ["Git", "Terminal", "Gulp", "Webpack"]]
                ];
              ul.skills-graphic
                each row in items
                  li.skills-graphic__item
                    .skills-row
                      .skills-row__title #{row[0]}
                      .skills-row__content
                        ul.skills
                          each skill in row[1]
                            li.skills__item
                              .skill
                                svg.skill__circle(viewBox="0 0 100 100" preserveAspectRatio="none")
                                  circle(cx="50" cy="50" r="40" fill="none" stroke="black" stroke-width="2")
                                  circle(cx="50" cy="50" r="40" fill="none" stroke="url('#gradient')" stroke-width="7" stroke-dasharray="50 150" stroke-dashoffset="50")
                                  linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                    stop(offset="0%" stop-color="#ad00ed")
                                    stop(offset="100%" stop-color="#5500f2")
                                .skill__title #{skill}

      section.works
        .works__title Мои Работы
        .works__content
          .slider
            .slider__display
              img.slider__display-pic
              .slider__display-thumbs
                ul.slider-thumbs
                  li.slider-thumbs__item
                    a.slider-thumbs__link
                      img.slider-thumbs__pic
              .slider__buttons
                .direction-btns
                  a.direction-btn.direction-btn--next
                  a.direction-btn.direction-btn--prev

            .slider__info
              .slider__tags
                ul.tags
                  li.tags__item html
                  li.tags__item html
                  li.tags__item html
              .slider__info-text
                h3.slider__info-title
                .slider__info-desc
              .slider__info-btns
                a.iconend-link Посмотреть сайт